name: Create Release

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  create-release:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Read version from package.json
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

      - name: Create or update draft release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.package-version.outputs.current-version }}
          name: ${{ steps.package-version.outputs.current-version }}
          body: ${{ github.event.head_commit.message }}
          draft: true
          target_commitish: ${{ github.sha }}

